<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
    <style>
        table, th, tr, td{
            border: 1px solid black;
            text-align: left;
        }
        button{
            padding: 5px 40px;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>UserName</th>
            <!-- <th>Password</th> -->
            <th>Edit Username</th>
            <th>Delete User</th>
        </tr>
        <%for(user of users){ %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.email %></td>
                <td><%= user.username %></td>
               <!-- <td><%= user.password %></td> -->
                <td>
                    <form method="GET" action="/user/<%= user.id %>/edit">
                        <button>Edit</button>
                    </form>
                </td>
                <td>
                    <form method="GET" action="/user/<%= user.id %>/delete">
                        <button>Delete</button>
                    </form>
                </td>
            </tr>
        <%}%>
    </table>
    <br>
    <form method="GET" action="/user/new">
        <button>Add New User</button>
    </form>
    <br>
</body>
</html>